form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #7503f8;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /* width: 100%; */
}

.create-btn{
    width: 100% !important;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  border-radius: 2px;
  padding: 10px 18px;
  background-color: #ffd000;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.dashboard-link{
    /* margin: 15px; */
    /* margin-top: 50px !important; */
    /* border: 1px solid gray; */
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.dashboard-link-div{
    border-radius: 5px;
    padding: 5px;
    background-color: red;
    margin-top: 15px;
    /* border: 1px solid rgb(43, 8, 240); */
}

.back-to-list-btn{
    margin-bottom: 50px;
    font-weight: 600;
text-decoration: none;
border: 2px solid blue;
padding: 10px 20px;
border-radius: 10px;
/* background-color: red; */
}

.job-div{
  border: 1px solid rgb(251, 0, 0);
  padding: 20px;

}

.text-align-right{
  text-align: right;
}

.text-align-right